{% extends 'main.html' %}
{% block title %} Generate {% endblock %}
{% block content %}
	<section class="container">
		<h1>Chain Saver!</h1>
		<h5>Write down a String to be sent as Hash using <strong>MD5</strong></h5>

		<!-- Form -->
		<div class="row">
			<form action="{{ url_for('chain') }}" method="POST" class="column column-60">
				<fieldset>
					<label for="string">Your String</label>
					<input type="text" name="string" id="string" placeholder="Ex. Lucky" required autofocus>

					<p id="message"></p>

					<input type="text" name="hash" id="hash" hidden>
					<input type="text" name="algorithm" value="MD5" hidden>
					<input type="submit" value="Save"/>
				</fieldset>
			</form>
		</div>
	</section>
{% endblock %}

{% block scripts %}
	<!-- Hasher function -->
	<script type="text/javascript">
		// When document ready execute
		$(document).ready(function() {
			// When user types
			$('#string').bind('keyup', function() {
				var string = $(this).val();     // Get string or null

				// Is it there a string? If so, convert it using MD5, otherwise keep it null
				var hash = !!string ? md5(string) : null;

				// Insert value to hash hidden input
				$('#hash').val(hash);

				// Set message if there's not a null hash
				$('#message').text(!!hash ? 'Your generated hash is: ' + hash : '');
			});
		});
	</script>
{% endblock %}
