{% extends 'main.html' %}
{% block title %} Last {% endblock %}
{% block content %}
	<section class="container">
		<h1>Last</h1>
		<p>This is the last hash stored</p>

		<!-- Message -->
		{% if message %}
			<blockquote>
				<p><em><strong>{{ message }}</strong> Check full list <a href="{{ url_for('list') }}">here</a></em></p>
			</blockquote>
		{% endif %}

		<!-- Table -->
		{% if chain %}
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Algorithm</th>
						<th>String</th>
						<th>Hash</th>
					</tr>
				</thead>

				</<tbody>
					<tr>
							<td>{{ chain.id }}</td>
							<td>{{ chain.algorithm }}</td>
							<td>{{ chain.string }}</td>
							<td>{{ chain.hash }}</td>
					</tr>
				</tbody>
			</table>
		{% else %}
			<!-- Or message -->
			<blockquote>
				<p><em>Database is empty... <strong>Please fill it</strong></em></p>
			</blockquote>
		{% endif %}
	</section>
{% endblock %}
